<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <main class="main-about">
                <h2>Full name: Carlos Eduardo Lavado Olivero</h2>
                <h2>Profession: Computer Engineer / Full Stack Web Developer</h2>
                <p>Hi, as I said before, my name is Carlos Lavado. I'm from Venezuela but currently living
                    in Colombia. I studied Computer Engineering at University Alejandro of Humboldt and then extended to
                    the world
                    of Full Stack Web Development with Digital House. The reason why I left my country was to get better
                    opportunities for me and my family, due to the social-economic situation that has been
                    trough in Venezuela.
                    <br>
                    <br>
                    I always glad to meet new people, although at the beginning I can be a little shy and
                    quite but once I get to know a person, I become more outgoing and more friendly.
                    <br>
                    <br>
                    My hobbies are:
                </p>
                <label id="label1">Videogames</label>
                <div class="hobbies-img-container">
                    <img id="img-mob-1" class="img-mobile" src="/img/hobbies/videogames-mobile-responsive.jpg"
                        alt="videogames">
                    <img id="img-desk-1" class="img-desktop" src="/img/hobbies/videogames-desktop-responsive.gif"
                        alt="videojegos">
                </div>
                <label id="label2">And Anime</label>
                <div class="hobbies-img-container">
                    <img id="img-mob-2" class="img-mobile" src="/img/hobbies/anime-mobile-responsive.jpg" alt="anime">
                    <img id="img-desk-2" class="img-desktop" src="/img/hobbies/anime-desktop-responsive.gif"
                        alt="anime">
                </div>
                <p id="second-p">
                    I'm so into these hoobies since I can remember... Knowing about videogames was one
                    of the reasons I wanted to become a programmer, though.
                </p>
                <h3>Some animes and videogames that I've enjoyed through years...</h3>
                <div class="carousel">
                    <div class="carousel-container">
                        <button aria-label="previous" class="carousel-previous">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                        <button aria-label="next" class="carousel-next">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                        <div class="carousel-list">
                            <% hobbies.forEach(hobbie=> { %>
                                <div class="carousel-element">
                                    <img src="/img/hobbies/<%= hobbie.name %>" alt="<%= hobbie.alt %>">
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    <div role="tablist" class="carousel-indicators"></div>
                </div>
            </main>
            <%- include('./partials/footer.ejs') %>
                <script src="/js/menu.js"></script>
                <script src="/js/observer.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
                <script src="/js/glider.js"></script>
    </body>

</html>